In [1]:
import os
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Shanmuga Shyam. B\OneDrive\Desktop\ml-learn\navie-bayes\titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [7]:
df.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis = True, inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [45]:
target = df.Survived
inputs = df.drop("Survived",axis = "columns")
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [47]:
dummies = pd.get_dummies(inputs.Sex, dtype = int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [49]:
inputs = pd.concat([inputs, dummies], axis="columns")
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [77]:
inputs = inputs.drop("Sex",axis="columns")
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [79]:
 inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [81]:
inputs.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [83]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(5)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [85]:
 inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [121]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size=0.7)

In [123]:
print(len(x_train))
print(len(x_test))
print(len(inputs))

267
624
891

In [125]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [127]:
model.score(x_test,y_test)

0.7836538461538461

In [131]:
x_test[:10]

     Pclass        Age     Fare  female  male
58        2   5.000000  27.7500       1     0
141       3  22.000000   7.7500       1     0
111       3  14.500000  14.4542       1     0
592       3  47.000000   7.2500       0     1
298       1  29.699118  30.5000       0     1
153       3  40.500000  14.5000       0     1
79        3  30.000000  12.4750       1     0
117       2  29.000000  21.0000       0     1
843       3  34.500000   6.4375       0     1
447       1  34.000000  26.5500       0     1

In [137]:
y_test[:10]

58     1
141    1
111    0
592    0
298    1
153    0
79     1
117    0
843    0
447    1
Name: Survived, dtype: int64

In [139]:
model.predict(x_test[:10])

array([1, 1, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [143]:
model.predict_proba(x_test[:10])

array([[0.05822195, 0.94177805],
       [0.19976315, 0.80023685],
       [0.17576731, 0.82423269],
       [0.99010395, 0.00989605],
       [0.93260672, 0.06739328],
       [0.99165331, 0.00834669],
       [0.21380075, 0.78619925],
       [0.98287244, 0.01712756],
       [0.99206102, 0.00793898],
       [0.9351793 , 0.0648207 ]])